@font-face {
    font-family: 'Bw Modelica SS01';
    src: url('BwModelicaSS01-Bold.woff2') format('woff2'),
        url('BwModelicaSS01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

